<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

{% ifinstalled mezzanine.blog %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
{% endifinstalled %}

{% compress css %}
<link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
<!--<link rel="stylesheet" href="{% static "css/mezzanine.css" %}">-->
<!--<link rel="stylesheet" href="{% static "css/bootstrap-theme.css" %}">-->
<link href="{% static "css/agency.css" %}" rel="stylesheet">

<link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/rtl.css" %}">
{% endif %}
{% ifinstalled cartridge.shop %}
<link rel="stylesheet" href="{% static "css/cartridge.css" %}">
{% if LANGUAGE_BIDI %}
<link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
{% endif %}
{% endifinstalled %}
{% block extra_css %}{% endblock %}
{% endcompress %}

{% compress js %}

<!-- jQuery -->

<script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
<!--<script src="{% static "js/jquery.js" %}"></script>-->

<script src="{% static "js/bootstrap.js" %}"></script>
<script src="{% static "js/bootstrap-extras.js" %}"></script>

{% block extra_js %}{% endblock %}
{% endcompress %}

<!--[if lt IE 9]>
<script src="{% static "js/html5shiv.js" %}"></script>
<script src="{% static "js/respond.min.js" %}"></script>
<![endif]-->

{% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
<div class="hidden" id="page-top">
</div>
<!-- Navigation -->
{# DONE: Fix navbar shiz. Just permenantly added the 'navbar-shrink' class for know for usability #}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#">{{ settings.SITE_TITLE }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
		    {% page_menu "pages/menus/dropdown.html" %}
		    {% for section in page.homepage.sections.all %}
		    <li>
			<a class="page-scroll" href="#{{section|cut:" "}}">{{ section.header }}</a>
		    </li>
		    {% endfor %}
		    <li>
			<a class="page-scroll" href="{% if page.homepage %}#contact{% else %}{% url 'mezzanine.pages.views.page' %}#contact{% endif %}">Contact Us</a>
		    </li>
		    <li>
			<a href="{% url 'mezzanine.blog.views.blog_post_list' %}">Blog</a>
	   	    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
	      {% if page.homepage %}		
	        {% editable page.homepage.heading page.homepage.subheading %}
                <div class="intro-lead-in">{{ page.homepage.heading }}</div>
                <div class="intro-heading">{{ page.homepage.subheading }}</div>
	        {% endeditable %}
  	      {% endif %}
		{% if page.homepage.content_heading %}
                <a href="#{{ page.homepage.sections.first }}" class="page-scroll btn btn-xl">{% editable page.homepage.content_heading %}{% endeditable %}</a>
		{% endif %}
            </div>
        </div>
    </header>


{% block main %}{% endblock %}

<div class="col-lg-2 col-lg-offset-1">
{% block right_panel %}{% endblock %}
</div>


{% block sections %}{% endblock %}
{% block contact %}{% endblock %}
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Avery Laird 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% editable_loader %}
{% include "includes/footer_scripts.html" %}

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>


<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="{% static "js/classie.js" %}"></script>
<script src="{% static "js/cbpAnimatedHeader.js" %}"></script>
<!-- Contact Form JavaScript -->
<!--<script src="{% static "js/jqBootstrapValidation.js" %}"></script>
<script src="{% static "js/contact_me.js" %}"></script>-->

<!-- Custom Theme JavaScript -->
<script src="{% static "js/agency.js" %}"></script>


</body>
</html>
